@charset "UTF-8";
/* CSS Document */

	 body{
		font-size:80%;
		letter spacing: .15em;
		background-color: #efefef;
		background-image: url(logo2.jpg);
		background-repeat:no-repeat;
		background-attachment:fixed;
		background-position:center;}
	#page{
		max-width:940px;
		min-width:720px;
		margin:10px auto 10px atuo;
		padding:20px;
		border:4px double #000;
		background-color: #FFFFFF;}
	
	#nav, .footer{
		
		padding: 25px;
		margin:30px;
		text-align: center;
		font-family: Facit;
		font-size:3em;}
		h1{
			font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
			font-size:8px;
			color:#58595B;}
	ul {
		list-style-type: none;
		 background-color: #dddddd;
		  list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;}
	li {
		display: inline;
		margin: 3px;
		font-family: Facit;}
		.videos, .{
			margin:20px;}
			
	p{
			text-align: center;
			width: auto;
			margin: 50px;
			font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
			font-size:15px;
			color:#58595B;}
			
	
	a{ 
 		color:#58595B;
		text-decoration:none;
		font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
		font-size:20px;
		word-spacing:inherit;
		}
		
		/* unvisited link */
a:link  {
    color: #58595B;
}

/* mouse over link */
a:hover {
    color: #178D8A;
}

/* selected link */
a:active {
    color: #FAFAFA;
}
	

		
					
		
	
	
